body{
    background-color: #86B41A;
}
.container-fluid{
    background-image: url("../img/trees.png");
    background-repeat: repeat-y;
    height: 100vh;
    background-position: center
}
.banner{
    background-image: url("../img/banner2.png");
    height: 200px;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: left
}

.bg-light{
    background-color: transparent!important
}

h1{
    font-size: 42pt;
    font-family: 'Luckiest Guy', cursive;
    color: white
}

h2{
    font-size: 42pt;
    font-family: 'Roboto Condensed', sans-serif;
}

h3{
    font-size: 31pt;
    font-family: 'Roboto Condensed', sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    max-width: 1040px;
    margin: 0 auto 30px;
    margin-top: 20px;
} 

article {
    position: relative;
}

img{
    width: 100%
}